@font-face {
    font-family: 'Droid Serif';
    src: 
    	local('Droid Serif'), 
    	url('/assets/fonts/DroidSerif-Regular-webfont.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Condensed Light';
    src: 
    	local('Open Sans Condensed Light'), 
    	url('/assets/fonts/OpenSans-CondLight-webfont.woff');
    font-style: normal;
}

@font-face {
    font-family: 'fira';
    src: 
    	local('Fira Code'),
		url('/assets/fonts/FiraCode-Regular.woff');
    font-weight: normal;
    font-style: normal;
}

$base-font-family: 'Droid Serif', serif !default;
$heading-font-family: 'Open Sans Condensed Light', sans-serif, !default;
$monospace-font-family: fira, "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace !default;
$base-font-size:   18px !default;
$base-font-weight: 400 !default;

$h1-font-size: 48px !default;
$h2-font-size: 48px !default;
$h3-font-size: 32px !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 175% !default;

$spacing-unit:     30px !default;

$text-color:       #111 !default;
$background-color: #fdfdfd !default;
$brand-color: #0a8 !default;

$grey-color: #586e75 !default;
$grey-color-light: #93a1a1 !default;
$grey-color-dark:  darken($grey-color, 15%) !default;

// Width of the content area
$content-width:    700px !default;
//$content-width: 60em !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}
