<!DOCTYPE html>
	<html>
		<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/assets/css/main.css">
		</head>
		<body class = {{ page.class }} >
		<div class = "wrapper">
			<nav>
				<ul>
 					{% for section in site.sections %}
                	<li><a href="/{{ section }}" class="{{ section }}">{{ section }}</a></li>
                	{% endfor %}
                </ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://github.com/tarakc02">github.com/tarakc02</a></li>
				</ul>
			</footer>
		</div>
		</body>
	</html>